*,
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.fContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: paleturquoise;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 15px;
  width: 800px;
  height: 80px;
  background-color: black;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.5);
}

.brand {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  padding: 15px;
  text-transform: capitalize;
}

.name {
  color: white;
  font-weight: 700;
  padding-left: 4px;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation > li {
  list-style-type: none;
  padding: 15px;
}

.navigation > li > a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation > li > a:hover {
  color: #fff44f;
  transition: all 0.3s ease-in-out;
}

.active {
  background-color: #fff44f;
  color: white;
  padding: 15px;
}

.active:hover {
  color: white !important;
}
